/* Google Fonts Link Here */

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* ********************************************    Global CSS Style Start Here     ********************************************* */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
}

/* Header Style Start Here */

.header_top {
    background-color: #16ba0a;
    padding: 17px 0px;
    text-align: justify;
}

.header_top ul li {
    list-style-type: none;
    display: inline-block;
}

.header_top ul {
    margin: 0px;
    padding: 0px;
}

.header_top .header_social_icon {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.header_top h6 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
    margin: 0px;
}

.header_top ul li a,
.header_top a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all ease-in-out 0.4s;
}

.header_top ul li a:hover,
.header_top a:hover {
    color: #2b2b2b;
}

.header_top a i {
    padding-right: 8px;
}

.header_top .header_social_icon a i {
    padding: 0px 15px;
}

.header_middle {
    padding: 15px 0px;
}

.header_middle .header_logo {
}

.header_middle form {
    padding-top: 12px;
}

.header_middle ul {
    margin: 0px;
}

.header_middle ul li {
    list-style-type: none;
    display: inline-block;
    padding: 23px 24px 20px;
}

.header_middle ul li a i {
    padding-right: 7px;
}

.header_middle ul li a {
    text-decoration: none;
    color: #343434;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    transition: all ease-in-out 0.4s;
}

.header {
    background-color: #343434;
}

.header .navbar {
    padding: 0px;
}

.header .navbar-nav {
    display: inline-block;
    width: 100%;
}

.header .navbar-nav li {
    display: inline-block;
}

.header .navbar-nav li a {
    color: #ffffff;
    padding: 25px 40px !important;
}

/* Header Style Ends Here */

/* ********************************************    Global CSS Style Ends Here     ********************************************* */

/* ******************************************    Index Page Style Start Here    ************************************************* */

/* Banner Style Start Here */

.banner {
    position: relative;
    width: 100%;
    background: url(../images/banner_images.jpg) no-repeat center;
    z-index: 9;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 186, 10, 0.5);
    z-index: 99;
}

.banner_text {
    position: relative;
    z-index: 999;
    padding: 256px 0px;
    text-align: center;
}

.banner_text h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 40px;
}

.banner_text a {
    color: #2b2b2b;
    background-color: #ffffff;
    padding: 20px 90px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    border-radius: 5px;
}

/* Banner Style Ends Here */

/* Product List Style Start Here */

.product_list,
.choose_food {
    padding: 60px 0px;
    text-align: center;
    position: relative;
}

.product_list .col-md-12 > h2,
.choose_food .col-md-12 > h2 {
    color: #343434;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.product_list .col-md-12 > span,
.choose_food .col-md-12 > span,
.latest_news span {
    width: 100%;
    max-width: 90px;
    height: 10px;
    text-align: center;
    background-color: #16ba0a;
    display: block;
    position: relative;
    top: 0;
    left: 47.5%;
}

.product_box {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px 0px 20px;
}

.product_box .product_img {
    width: 100%;
    margin-bottom: 15px;
}

.product_box .product_img img {
    width: 100%;
    display: inline-block;
}

.product_box .product_content h4 a {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    text-align: left;
    position: relative;
    width: 48%;
    display: inline-block;
    color: #343434;
}

.product_box .product_content h4 > span {
    color: #16ba0a;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    width: 48%;
    display: inline-block;
}

.product_box .product_content p {
    color: #000000;
    text-align: justify;
    margin-bottom: 8px;
    display: inline-block;
}

.product_box .product_content p a {
    color: #000000;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
}

.product_box .product_content p a:hover {
    color: #16ba0a;
}

.product_box .product_content > a {
    text-align: right;
    padding: 8px 12px;
    color: #ffffff;
    background-color: #16ba0a;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    display: inline-block;
    border-radius: 5px;
}

.product_list .owl-nav {
    display: inline-block !important;
}

.product_list .owl-nav span {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin: 8px 5px;
    padding: 7px 18px;
    display: inline-block;
    background-color: #16ba0a;
    color: #ffffff;
}

/* Product List Style Ends Here */

/* choose_food Style Start Here */

.choose_food .card {
    display: inline-block;
    width: 30%;
    margin: 45px 12px;
    border: none;
}

.choose_food .card > a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    transition: all ease-in-out 0.4s;
    padding: 40px;
    background-color: #343434;
    display: inline-block;
    border-radius: 8px;
    box-shadow: none;
}

.choose_food .card > a:hover {
    background-color: #16ba0a;
    box-shadow: 2px #343434;
}

.choose_food .card > a i {
    font-size: 50px;
    color: #ffffff;
}

.choose_food .card .card-body h5 a {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
}

.choose_food .card .card-body h5 a:hover {
    color: #16ba0a;
}

.choose_food .button {
    padding: 12px 25px;
    background-color: #343434;
    display: inline-block;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
    border-radius: 5px;
}

.choose_food .button:hover {
    background-color: #16ba0a;
}
/* choose_food Style Ends Here */

/* About Food Style Start Here */

.about_food {
    position: relative;
    background: url(../images/about_background_img.jpg) no-repeat center;
    width: 100%;
    z-index: 9;
}

.about_food::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.about_food_content {
    padding: 135px 0px;
    text-align: center;
    z-index: 999;
    position: relative;
}

.about_food_content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #ffffff;
}

.about_food_content span {
    color: #16ba0a;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    width: 7%;
    display: inline-block;
    border: 3px solid #16ba0a;
    border-radius: 3px;
    margin-bottom: 10px;
}

.about_food_content p {
    text-align: justify;
    color: #ffffff;
    padding: 30px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.about_food_content a {
    padding: 12px 25px;
    background-color: #343434;
    display: inline-block;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
    border-radius: 5px;
}

.about_food_content a:hover {
    background-color: #16ba0a;
}

/* ABout Food Style Ends Here */

/* Latest News Style Start Here */

.latest_news {
    padding: 60px 0px;
    text-align: center;
    position: relative;
}

.latest_news h2 {
    color: #343434;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.latest_news span {
    width: 100%;
    max-width: 90px;
    height: 10px;
    text-align: center;
    background-color: #16ba0a;
    display: block;
    position: relative;
    top: 0;
    left: 47.5%;
}

.latest_news .card {
    margin: 25px 40px;
    text-align: left;
    display: inline-block;
    border: none;
}

.latest_news .card .card-body {
    padding: 37px 45px 37px 30px;
    text-align: justify;
}

.latest_news .card .card-body h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
}

.latest_news .card .card-body h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
}

.latest_news .card .card-body p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 8px;
}

.latest_news .card .card-body p small {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.latest_news .card .card-body a {
    padding: 12px 25px;
    display: inline-block;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
    border-radius: 5px;
    background-color: #16ba0a;
}

.latest_news .card .card-body a:hover {
    background-color: #343434;
}

/* Latest News Style Ends Here */

/* testimonial Style Start Here */

.testimonial h2 {
    color: #343434;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.testimonial .under_line {
    width: 100%;
    max-width: 90px;
    height: 10px;
    text-align: center;
    background-color: #16ba0a;
    display: block;
    position: relative;
    top: 0;
    left: 0%;
    margin-bottom: 30px;
}

.testimonial_box {
    padding: 20px 21px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 27px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin: 20px 14px;
    position: relative;
}

.testimonial_box .testimonial_img {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}

.testimonial_box .testimonial_content {
    z-index: 99;
}

.testimonial_box .testimonial_info {
    position: absolute;
    top: 32px;
    left: 40%;
}

.testimonial_box .testimonial_info h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.testimonial_box .testimonial_info h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #16ba0a;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.testimonial_box .testimonial_info > span {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #16ba0a;
}

.testimonial_box .testimonial_content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: capitalize;
    text-align: justify;
}

.testimonial .owl-nav {
    position: relative;
    bottom: 0;
    left: 46%;
    display: inline-block;
    margin: 15px 0px;
}

.testimonial .owl-nav span {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin: 8px 5px;
    padding: 7px 18px;
    display: inline-block;
    background-color: #16ba0a;
    color: #ffffff;
}
/* testimonial Style Ends Here */

/* Get_in_touch Style Start Here */

.get_in_touch {
    padding: 60px 0px;
    text-align: center;
    position: relative;
}

.get_in_touch h2 {
    color: #343434;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.get_in_touch span {
    width: 100%;
    max-width: 90px;
    height: 10px;
    text-align: center;
    background-color: #16ba0a;
    display: block;
    position: relative;
    top: 0;
    left: 47.5%;
}

.get_in_touch .input_field {
    text-align: left;
    margin: 15px 0px;
}

.get_in_touch .input_field:nth-last-child(1) {
    text-align: center;
}

.get_in_touch .input_field label {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}

.get_in_touch .input_field a {
    margin: 20px 0px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    padding: 12px 40px;
    background-color: #16ba0a;
    color: #ffffff;
    display: inline-block;
    transition: all ease-in-out 0.4s;
    border-radius: 4px;
}

.get_in_touch .input_field a:hover {
    background-color: #343434;
}

/* Get_in_touch Style Ends Here */

/* Footer Style Start Here */

.footer {
    padding: 50px 0px 0px;
    background-color: #252525;
    display: inline-block;
    width: 100%;
    color: #ffffff;
}

.footer .input-group {
    padding: 0px 175px 40px;
}

.footer .input-group input {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    max-width: 800px;
    border: none;
    background-color: #252525;
    color: #ffffff;
    border-bottom: 2px solid #16ba0a;
}

.footer .input-group input[type="text"]:focus {
    border-color: #16ba0a; 
    background-color: lightyellow;
    outline: none;
    transition: all ease-in-out 0.4s;
    color: #000000;
}

.footer .input-group a {
    text-decoration: none;
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    background-color: #16ba0a;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
}

.footer .input-group a:hover {
    background-color: #ffffff;
    color: #16ba0a;
}

.footer h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    padding: 0px 0px 0px 35px;
    text-transform: uppercase;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    padding: 6px 20px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #727272;
    transition: all ease-in-out 0.4s;
}

.footer .footer_social_icon li {
    display: inline-block;
}

.footer ul li a:hover {
    color: #16ba0a;
}

.footer h5 {
    padding: 12px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
}

.footer h5 a {
    text-decoration: none;
    color: #16ba0a;
}


/* Footer Style Ends Here */

/* ******************************************    Index Page Style Ends Here    ************************************************* */